configure
Makefile
/TAGS
/config.log
/config.status
/autom4te.cache
easel
src/p7_config.h
src/libhmmer.a
nwo/h4_config.h
nwo/hmmer
nwo/libhmmer.a
*.o
*.dSYM
*.stamp
._.DS_Store
.DS_Store
*_example
*_example[2-9]
*_utest
*_benchmark
*_stats
*_experiment
*_experiment[2-9]
documentation/release-notes/LICENSE.sh
build-*