configure
Makefile
Makefile-subdirs.mk
/TAGS
/config.log
/config.status
/autom4te.cache
/lib/easel
src/p7_config.h
src/libhmmer.a
lib/libdivsufsort/divsufsort.h
lib/libdivsufsort/libdivsufsort.a
nwo/h4_config.h
*.o
*.dSYM
*.stamp
._.DS_Store
.DS_Store
benchmarks/profmark/create-profmark
benchmarks/profmark/rocplot
src/experiments/decoding-hunt
src/programs/hmmalign
src/programs/hmmbuild
src/programs/hmmemit
src/programs/hmmpress
src/utilities/alimask
src/utilities/hmmconvert
src/utilities/hmmfetch
src/utilities/hmmlogo
src/utilities/hmmstat
*_example
*_example[2-9]
*_utest
*_benchmark
*_stats
*_experiment
*_experiment[2-9]
nwo/hmmer
nwo/libhmmer.a
documentation/release-notes/LICENSE.sh
