configure
config.log
config.status
Makefile
easel
*.o
*.dSYM
*.stamp
src/*_example
src/*_example?
src/*_utest
src/*_benchmark
src/*_stats
src/impl
src/impl*/*_example
src/impl*/*_utest
src/impl*/*_benchmark
documentation/userguide/copyright.tex
documentation/userguide/titlepage.tex
documentation/man/*.man
libdivsufsort/divsufsort.h
libdivsufsort/libdivsufsort.a
src/libhmmer.a
src/p7_config.h
profmark/create-profmark
profmark/rocplot
src/alimask
src/hmmalign
src/hmmbuild
src/hmmc2
src/hmmconvert
src/hmmemit
src/hmmerfm-exactmatch
src/hmmfetch
src/hmmlogo
src/hmmpgmd
src/hmmpgmd_shard
src/hmmpress
src/hmmscan
src/hmmsearch
src/hmmsim
src/hmmstat
src/itest_brute
src/jackhmmer
src/makehmmerdb
src/nhmmer
src/nhmmscan
src/phmmer
